<div id="<%= dom_id person %>">
  <p>
    <strong>Firstname:</strong>
    <%= person.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= person.lastname %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= person.lat %>
  </p>

  <p>
    <strong>Lng:</strong>
    <%= person.lng %>
  </p>

</div>
